body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td, menu{margin:0;padding:0;}
html{overflow-y:scroll}
body,button,input,select,textarea{ font:14px/1.5 "Helvetica-Neue", "Arial", sans-serif;}
iframe{border:0;margin:0;padding:0;}
img, fieldset{border:0;}
cite,em,strong,th{font-style:inherit;font-weight:inherit;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{*font-size:100%;}
ol, ul, menu{list-style:none;}
input, button{border:0;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
blockquote{quotes:none;}
blockquote:before,blockquote:after,{content:'';content:none;}
a{text-decoration:none;}
td,th,div{word-break:break-all;word-wrap:break-word}
pre,xmp{white-space:pre-wrap}
form{display:inline;}
input{vertical-align:middle;}
em,cite,i{font-style:normal;}
s{text-decoration:none;}
*{outline:none}
:focus{outline:0;}
.clear{clear:both;}
div{display: block;}
/*css3*/
.br10{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.br5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.select-ctrl{width:200px;position:relative;margin:0; }
.select-ctrl .current-option{ position:relative;z-index:9;height:40px;background:url("../img/file.png") #eee no-repeat;padding-left:10px; cursor:pointer;}

.select-ctrl .current-option .select-txt{ cursor:pointer;position:relative; height:40px; line-height:40px;padding:0 35px 0 5px;}
.select-ctrl .current-option .select-btn{ position:absolute;right:-2px;top:0;width:35px;height:40px; cursor:pointer;}
.select-ctrl .current-option.selecting .select-btn{ background-position:0 -34px;}
.select-ctrl .current-option input.show-text{cursor:pointer; padding:0; margin:0; position:absolute; top:0; font-weight: bold; left:30px; width:100%;height:40px; line-height:40px;border:none 0;background:none;font-size:14px;color:#666; }
.select-ctrl .current-option input.post-input{display:none;}
.select-ctrl .drop-wrap{display:none; position:absolute;z-index:8;width:198px;margin:-10px 0 0 1px;padding-top:10px;background:#e2e2e2;box-shadow:0 0 5px rgba(0,0,0,.2);}
.select-ctrl .drop-wrap li{line-height:40px;height:40px; width:200px; cursor:pointer; border-bottom: 1px solid #ddd;}
.select-ctrl .drop-wrap li a{ padding:0 0 0 40px; display:block; width:180px; color:#999; text-decoration:none; }
.select-ctrl .drop-wrap li a:hover{ color: #333; background: #ddd; }

html{
	background: url('../img/bg.png') repeat #E4E4E4;
	width: 100%;
  	height: 100%;
}
body{
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
  	height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  /* flexbox setup */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
.box .left-panel, .box .right-panel, .box .toolbar {
  	-moz-transition: width 0.15s ease-out;
  	-o-transition: width 0.15s ease-out;
  	-webkit-transition: width 0.15s ease-out;
  	transition: width 0.15s ease-out;
}
.box .right-panel{
	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
}

.right-panel{
	position: relative;
}

.toolbar{
	position: relative;
	width: 80px;
	height: 100%;
}
.toolbar .toolbar-inner{
	width: 60px;
	height: 100%;
	margin: 0 10px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 7px #ccc;
	-moz-box-shadow: 0px 0px 7px #ccc;
	-o-box-shadow: 0px 0px 7px #ccc;
	box-shadow: 0px 0px 7px #ccc;
	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	display: -moz-box;
  	-moz-box-orient: vertical;
  	display: box;
  	box-orient: vertical;
}
.toolbar .toolbar-inner h5{
	font-size: 12px;
	color: #ddd;
	text-align: center;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #f2f2f2;
}
.toolbar .toolbar-inner ul{
	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	position: relative;
}
.toolbar .toolbar-inner li{
	border-bottom: 1px solid #f2f2f2;
	height: 60px;
	width: 100%;
	cursor: pointer;
	display: block;
}

.toolbar .toolbar-inner li.addText{
	background: url(../img/addtext.png) no-repeat;
}
.toolbar .toolbar-inner li.addCanvas{
	background: url(../img/addcanvas.png) no-repeat;
}
.toolbar .toolbar-inner li.play{
	border-top: 1px solid #f2f2f2;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/play.png) no-repeat;
}
.toolbar .toolbar-inner li:hover{
	background-position: 0 -60px;
}
.toolbar .toolbar-inner li.active{
	background-position: 0 -120px;
}


.left-panel{
	position: relative;
	width: 200px;
	height: 100%;
	background: #fff;
	color: #aaa;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 7px #ccc;
	-moz-box-shadow: 0px 0px 7px #ccc;
	-o-box-shadow: 0px 0px 7px #ccc;
	box-shadow: 0px 0px 7px #ccc;
	font-size: 12px;
}
.left-panel p.material{
	/*background: url(../img/material.png) no-repeat;*/
	color: #ddd;
	text-align: center;
	width: 200px;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #f2f2f2;
}
.left-panel .material-list{
	position: relative;
	top: 0;
	bottom: 20px;
}
.left-panel .material-list ul{
	white-space: nowrap;
	height: 100%;
	width: 160px;
	margin: 5px 20px 0 20px;
	overflow-x: hidden;
	overflow-y: auto;
}
.left-panel .material-list ul li{
	float: left;
	display: inline-block;
	cursor: pointer;
	padding: 0 15px;
	height: 33px;
	width: 140px;
	border-bottom: 1px solid #f2f2f2;
	line-height: 33px;
	cursor: move;
}
.left-panel .material-list ul li:hover{
	color: #333;
	background: #f2f2f2;
}


.closeLeftBtn{
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 204px;
	width: 16px;
	padding: 25px 0 0 0;
	color: #ddd;
	font-size: 50px;
	line-height: 100%;
	cursor: pointer;
	background: rgba(255,255,255,0);
}

.img-box{
	position: absolute;
	z-index:0;
	display:inline-block;
}
.img-box:hover{
	-moz-box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
.img-box:hover .scaleControl,
.img-box:hover .deletePic,
.img-box:hover .timelineControl{
	opacity:1.0;

	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.timelineControl{
	opacity: 0;
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 100;
}
.timelineControl .add{
	width: 60px;
	height: 60px;
	margin: 0 2px 0 0;
	float: left;
	cursor: pointer;
}
.timelineControl .add.addLeft{
	background: url(../img/left.png) 0 -60px;
}
.timelineControl .add.addLeft:hover, .timelineControl .add.addTop:hover, .timelineControl .add.addOpacity:hover{
	background-position: 0 0;
}
.timelineControl .add.addTop{
	background: url(../img/top.png) 0 -60px;
}
.timelineControl .add.addOpacity{
	background: url(../img/opacity.png) 0 -60px;
}
.scaleControl{
	background: url(../img/scale.png);
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: se-resize;
	opacity:0;

}
.deletePic{
	z-index: 100;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	
	color: #fff;
	opacity:0;
}
.deletePic:hover{
	width:185px;
}

.deletePic .deleteBtn{
	background: url(../img/close.png);
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.deletePic .text{
	position: absolute;
	left: 50px;
	top: 10px;
	float: left;
	width: 160px;
	height: 40px;
	display: block;
}
.deletePic .text span, .deletePic .text a{
	float: left;
	display: block;
	line-height: 30px;
	margin: 0 10px 0 0;
}
.deletePic .text a{
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}
.deletePic .text a:hover{
	color: #fff;
	text-decoration: underline;

}


#imgPreview{
	z-index: 10000;
	position: absolute;
	height: 150px;
	top: -75px;
	left: 180px;
}
#imgPreview .bd{
	padding: 0;
	background: rgba(255, 255, 255, 0.5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	zoom: 1;
	height: 158px;
	margin: 0; 
	padding: 0;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}
#imgPreview .x1{
	position: absolute;
	left: -8px;
	top: 67px;
	margin-left: 0;
	border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
	border-style: dashed solid dashed dashed;
	border-width: 8px 8px 8px 0;
	font-size: 0;
	line-height: 20px;
	height: 0;
	width: 0;
	overflow: hidden;
}

#imgPreview img{
	border: 5px solid #fff;
	height: 150px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.slides img{
}

.text-editor{
	position: absolute;
	width: 540px;
	height: 135px;
}
.text-editor .textDone{
	background: url(../img/done.png) no-repeat;
	width: 70px;
	height: 70px;
	float: left;
	cursor: pointer;
}
.text-editor .textDone:hover{
	background-position: 0 -70px;
}
.text-editor input.text{
	width: 430px;
}
.text-editor p.text{
	width: 430px;
}
.text-editor .text{
	font-size: 30px;
	line-height: 60px;
	padding: 10px 20px 0;
	color: #f07898;
	background: rgba(255, 255, 255, 0.6);
	float: left;
	font-weight: bold;
}
.text-editor .text:hover{
	-moz-box-shadow: 0 0 7px #ccc;
	-webkit-box-shadow: 0 0 7px #ccc;
	box-shadow: 0 0 7px #ccc;
}
.text-editor .attr{
	margin: 5px 0 0 0;
	float: left;
	width: 540px;
}
.text-editor .block{
	width: 60px;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}

.text-editor .block.background{
	float: left;
	overflow: hidden;
	width: 60px;
	background: #fff;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.text-editor .block.background:hover{
	width: 300px;
}
.text-editor .block.background .block{
	float: right;
	cursor: pointer;
	opacity: 0.5;
}
.text-editor .block.background .block:hover, .text-editor .block.background .block.sel{
	opacity: 1;
}
.text-editor .block.background:hover .block.bgcolor{
	display: none;
}
.text-editor .block.background .block.bgcolor{
	opacity: 1;
	background: #fff;
	cursor: default;
}
.text-editor .block.background .block.color1{
	background: #f07898;
}
.text-editor .block.background .block.color2{
	background: #53c5c5;
}
.text-editor .block.background .block.color3{
	background: #fff;
}
.text-editor .block.background .block.color4{
	background: #aaa;
}
.text-editor .block.background .block.color5{
	background: #000;
}
.text-editor .block.bg-alpha{
	float: left;
	color: #fff;
	background: rgba(255, 255, 255, 0.6);
}
.text-editor .block.bg-alpha p{
	background: url(../img/alpha-s.png);
}
.text-editor .block.fontcolor{
	float: right;
	overflow: hidden;
	width: 60px;
	background: #fff;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.text-editor .block.fontcolor:hover{
	width: 300px;
}
.text-editor .block.fontcolor .block{
	float: left;
	cursor: pointer;
	opacity: 0.5;
}
.text-editor .block.fontcolor .block:hover, .text-editor .block.fontcolor .block.sel{
	opacity: 1;
}
.text-editor .block.fontcolor:hover .block.fontcolor{
	display: none;
}
.text-editor .block.fontcolor .block.fontcolor{
	background: #f07898;
	opacity: 1;
	cursor: default;
}
.text-editor .block.fontcolor .block.color1{
	background: #f07898;
}
.text-editor .block.fontcolor .block.color2{
	background: #53c5c5;
}
.text-editor .block.fontcolor .block.color3{
	background: #fff;
}
.text-editor .block.fontcolor .block.color4{
	background: #aaa;
}
.text-editor .block.fontcolor .block.color5{
	background: #000;
}

.text-editor .block.fontsize{
	color: #f07898;
	float: right;
	background: rgba(255,255,255,0.6);
}


#dropzone{
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
#dropzone.rounded {
	-webkit-box-shadow: inset 0px 0px 15px #ccc;
	-moz-box-shadow: inset 0px 0px 15px #ccc;
	-o-box-shadow: inset 0px 0px 15px #ccc;
	box-shadow: inset 0px 0px 15px #ccc;
}

.control{
	position: absolute;
	bottom: 30px;
	left: 300px;
	height: 60px;
	width: 740px;
	font-size: 12px;
	color: #ccc;
	z-index: 1000;
}
.control p.title{
	float: left;
	width: 70px;
	padding: 35px 7px 0 0;
	text-align: right;
}
.control .bar{
	width: 660px;
	float: left;
}
.control ul.progress{
	float: left;
}
.control ul.progress li{
	cursor: pointer;
	float: left;
	width: 11px;
	background: #CCC;
	height: 30px;
	margin-right: 1px;
}
.control ul.progress li a{
	float: left;
	height: 10px;
	width: 100%;
	display: block;
}
.control ul.progress li a.topAnimation{
	background: #D71921; 
}
.control ul.progress li a.leftAnimation{
	background: #00AEEF; 
}
.control ul.progress li a.opacityAnimation{
	background: #29AE6E; 
}

.control ul.percent{
	float: left;
	margin:5px 0 0 0;
	
}

.control ul.percent li{
	color: #aaa;
	float: left;
	border-left: 2px solid #ddd;
	border-top: 1px solid #ccc;
	padding: 0 0 0 4px;
	width: 54px;
}
.control ul.percent li:last-child{
	border-top: 0;
}







